<button
  pButton
  type="button"
  (click)="visibleSidebar2 = true"
  icon="pi pi-arrow-left"
></button>

<table class="table">
  <thead>
    <th>#</th>
    <th>Project ID</th>
    <th>Name</th>
    <th>Created Date</th>
    <th>Status</th>
    <th>Project Type</th>
  </thead>
  <tbody>
    <tr *ngFor="let item of projectDetails; let i = index">
      <td>{{ i + 1 }}</td>
      <td>{{ item.projectID }}</td>
      <td>{{ item.name }}</td>
      <td>{{ item.created_date }}</td>
      <td>{{ item.status }}</td>
      <td>{{ item.project_type }}</td>
    </tr>
  </tbody>
</table>
<p-sidebar [(visible)]="visibleSidebar2" position="right" [baseZIndex]="10000">
  <div class="container">
    <form #f="ngForm" novalidate>
      <div class="ui-g">
        <div class="ui-g-3"><p style="font-weight:bold">Filter</p></div>

        <div class="ui-g-9">
          <button
            pButton
            type="button"
            (click)="visibleSidebar2 = true; pageInit(); f.reset()"
            label="clear"
            class="ui-button-secondary"
          ></button>
          <button
            pButton
            type="button"
            label="filter"
            (click)="applyFilters()"
          ></button>
        </div>
      </div>
      <hr />
      <!-- <div class="ui-inputgroup">
        <span class="ui-inputgroup-addon"><i class="fa fa-search"></i></span>
        <input
          type="text"
          name="search"
          [(ngModel)]="search"
          pInputText
          placeholder="Search Field"
        />
      </div>
      <hr /> -->
      <b><p style="font-weight:bold">Project Type</p></b>
      <div class="ui-g" style="width:250px;margin-bottom:10px">
        <div class="ui-g-12">
          <p-checkbox
            #project
            name="project"
            value="residential"
            label="Residential"
            [(ngModel)]="project_type"
            inputId="res"
            (onChange)="onChangeProjectType(project_type)"
          ></p-checkbox>
        </div>
        <div class="ui-g-12">
          <p-checkbox
            #project
            name="project"
            value="hospital"
            label="Hospital"
            [(ngModel)]="project_type"
            inputId="hos"
            (onChange)="onChangeProjectType(project_type)"
          ></p-checkbox>
        </div>
        <div class="ui-g-12">
          <p-checkbox
            #project
            name="project"
            value="commercial"
            label="Commercial"
            [(ngModel)]="project_type"
            inputId="com"
            (onChange)="onChangeProjectType(project_type)"
          ></p-checkbox>
        </div>
      </div>
      <!-- Selected data:
      <span *ngFor="let city of project_type" style="margin-right:10px"></span> -->
      <hr />
      <p style="font-weight:bold">Status</p>
      <div class="ui-g" style="width:250px;margin-bottom:10px">
        <div class="ui-g-12">
          <p-radioButton
            #status
            name="status"
            value="open"
            label="Open"
            [(ngModel)]="val1"
            inputId="opt1"
            (onClick)="onChangeStatus(val1)"
          ></p-radioButton>
        </div>
        <div class="ui-g-12">
          <p-radioButton
            #status
            name="status"
            value="closed"
            label="Closed"
            [(ngModel)]="val1"
            inputId="opt2"
            (onClick)="onChangeStatus(val1)"
          ></p-radioButton>
        </div>
      </div>
      <!-- Selected Value = {{ val1 }} -->
      <hr />
      <div class="ui-g-12 ui-md-4">
        <p style="font-weight:bold">Date</p>
        <p-calendar
          #date
          name="date"
          [(ngModel)]="rangeDates"
          (onSelect)="onChangeDateRange(rangeDates)"          
          selectionMode="range"
          [readonlyInput]="true"
        ></p-calendar>
      </div>
      <br />
    </form>
  </div>
</p-sidebar>
