<div class="md-form">
    <input mdbInputDirective style="width:400px" [(ngModel)]="searchTerm" #category (keyup)='onkeyup(category.value)' type="text" id="form1" class="form-control">
    <label for="form1" class="">Search</label>
  </div>
<!-- <input [(ngModel)]="searchTerm" #category (keyup)='onkeyup(category.value)' placeholder="Search categories" /> -->
     <kendo-treeview
         textField="text"
         [animate]="false"
         [nodes]="parsedData"
         [children]="children"
         [hasChildren]="hasChildren"
     >
     </kendo-treeview>